*.rpyc
lib/*
libs/*
renpy/*
TADDS/*
game/*
cache/*
!game/tl/
game/tl/None
!game/tl/russian
!game/screens.rpy
!game/gui.rpy
!game/gallery_navigation.rpy
!game/script.rpy

files.txt
log.txt
traceback.txt
errors.txt

/gui/*
/saves/*
/tl/*
/custom_screens.rpy
/gui.rpy
/options.rpy
/screens.rpy

DEMO.exe
DEMO.py
DEMO.sh

.vscode