*.rpyc
lib/*
libs/*
renpy/*
TADDS/*
game/*
cache/*
fonts/*
bg void.png
!game/tl/
game/tl/None
!game/tl/russian
!game/screens.rpy
!game/gui.rpy
!game/gallery_navigation.rpy
!game/script.rpy

!game/fonts
game/fonts/*
!game/fonts/Melon Pop.ttf

files.txt
log.txt
traceback.txt
errors.txt

/gui/*
/saves/*
/tl/*
/custom_screens.rpy
/gui.rpy
/options.rpy
/screens.rpy

TADDS.exe
TADDS.py
TADDS.sh

.vscode